<!--The content below is only a placeholder and can be replaced.-->
  <div class="split left" >
    <img style="position:relative;top:-100px;height:900px;opacity:0.5" src="assets/images/two.jpg" alt="Education.....">
  </div>
  <div class="split right topDiv">
    <h1 class="heading1">Angular with Node.....</h1>
    <h2 class="heading2">A Sample Guide and has sample Project for developing angular as front end and node as backend.</h2>
    <div style="position:relative;left:10px;">
      <button  class="learning"  type="button" name="button">Get Started</button>
      <!--  <button  class="project"  type="button" name="button">Sample Project</button>
      <button  class="querys"  type="button" name="button">Querys???</button> -->
    </div>
  </div>
  <app-docs></app-docs>
